<!doctype html>
<html lang="en" data-bs-theme="light">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS v5.3.8 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <header>
            <!-- place navbar here -->
            <nav
                class="navbar navbar-expand-sm navbar-dark bg-dark"
            >
                <div class="container">

                    <a class="navbar-brand" href="#">LOGO</a>
                    <button
                        class="navbar-toggler d-lg-none"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapsibleNavId"
                        aria-controls="collapsibleNavId"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="#" aria-current="page"
                                    >Home
                                    <span class="visually-hidden">(current)</span></a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Movies</a>

                            <li class="nav-item">
                                <a class="nav-link active" href="#" aria-current="page"
                                    >Calendar
                                    <span class="visually-hidden">(current)</span></a
                                >
                        </ul>
                        <form class="d-flex my-2 my-lg-0">
                            <input
                                class="form-control me-sm-2"
                                type="text"
                                placeholder="Search"
                            />
                            <a href="">Perfil</a>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>

        <div class="layout">
    
        <!-- SIDEBAR -->
        <aside class="sidebar">
            <div class="movie"></div>
    
            <h4>Resumen:</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
    
            <div class="rating">⭐⭐⭐⭐☆</div>
        </aside>
    
        <!-- CONTENIDO PRINCIPAL -->
        <main class="main">
    
            <h1>Título</h1>
    
            <!-- TAGS -->
            <div class="tags">
                <span class="tag-icon">Acción</span>
                <span class="tag-icon">Drama</span>
                <span class="tag-icon">Ciencia ficción</span>
                <span class="tag-icon">Suspenso</span>
            </div>

            <div>
                <div class="mb-3">
                    <label for="" class="form-label"> Reseña: </label>
                    <textarea class="form-control" name="" id="" rows="3" class="review-box"></textarea>
                    <button type="submit" class="btn btn-primary"> Publicar Reseña </button>
                    
                </div>
            </div>
    
            <!-- RECOMENDACIONES -->
            <h3>También te puede interesar:</h3>
    
            <div class="recommendations">
                <div class="movieBox"><img class="poster" src="https://a.ltrbxd.com/resized/film-poster/1/1/9/6/8/0/8/1196808-minions-3-0-2000-0-3000-crop.jpg?v=a50f031caa" ></img></div>
                <div class="movieBox"><img class="poster" src="https://a.ltrbxd.com/resized/film-poster/1/0/0/0/2/7/7/1000277-moana-0-2000-0-3000-crop.jpg?v=65401ce4f2" ></img></div>
                <div class="movieBox"><img class="poster" src="https://m.media-amazon.com/images/M/MV5BYjk1Y2U4MjQtY2ZiNS00OWQyLWI3MmYtZWUwNmRjYWRiNWNhXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg" ></img></div>
            </div>
    
        </main>

        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Bundle (includes Popper) -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>

        <!-- SCRIPTS -->

        <!-- ESTILOS -->
        <link rel="stylesheet" href="../assets/estilos/review.css"/>

        <!-- CONTROLADORES -->
    </body>
</html>
